{% extends 'base.html' %}
{% block title %}Ask Question{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Ask Question</h1>
        <form action="/add-question" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" class="form-control" id="title" aria-describedby="title" placeholder="Short, descriptive title of Your problem">
            </div>

            <div class="form-group">
                <label for="title">Question</label>
                <textarea name="message" class="form-control" aria-label="Question"></textarea>
                <small class="form-text text-muted">Be as specific as possible with Your problem.</small>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Image attachment</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="image" class="form-control custom-file-input" id="image-attachment" aria-descri bedby="image-attachment">
                    <label class="custom-file-label" for="image-attachment">Choose file</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
        <a class="btn btn-info" href="{{ url_for('show_questions') }}">Back to Main menu</a>
    </div>
{% endblock %}
