{% extends 'base.html' %}
{% block title %}
    Welcome!
{% endblock %}
{% block content %}
<div class="jumbotron" align="center">
    <h1 class="display-3"> Ask Mate! </h1>
    <form method="get" action="{{ url_for('search') }}">
        <input type="text" class="searchTerm" placeholder="What are you looking for?" name="q">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>
<div class="header_button_full">
    <a href="{{ url_for('add_question')}}" class="btn btn-primary f-right">Ask a question</a>
</div>
    <table class="table">
        <thead class="thead-light">
        <tr align="center">
            <th><a href="/list?order_by=submission_time&order_direction={{ order_direction }}">Time</a></th>
            <th><a href="/list?order_by=title&order_direction={{ order_direction }}">Title</a></th>
            <th><a href="/list?order_by=message&order_direction={{ order_direction }}">Message</a></th>
            <th><a href="/list?order_by=view_number&order_direction={{ order_direction }}">View Number</a></th>
            <th><a href="/list?order_by=vote_number&order_direction={{ order_direction }}">Vote Number</a></th>
        </tr>
        </thead>
			{% for question in questions %}
				<tr>
                    <td align="right">{{ question['submission_time'] | pretty_time }}</td>
                    <td><a href="{{ url_for('show_answers', question_id=question['id']) }}">{{ question['title'] }}</a> </td>
                    <td>{{ question['message'] | safe}}</td>
                    <td align="right" id="v_number">{{ question['view_number'] }}</td>
                    <td align="right" id="int_1" >
                        <a href="{{ url_for('question_vote_up', question_id=question['id']) }}">
                            <img src="/static/img/up.png" alt="">
                        </a><br>
                        {{ question['vote_number'] }}<br>
                        <a href="{{ url_for('question_vote_down', question_id=question['id']) }}">
                            <img src="/static/img/down.png" alt="">
                        </a>
                    </td>
                    <td align="left"><small class="form-text text-muted mb-3">Posted by: {{ question['user_name'] }}</small></td>
				</tr>
        {% endfor %}
    </table>
{% endblock %}