{% extends 'base.html' %}

{% block title %}
    Ask Mate! | Answers
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ question['title'] }}</h1>

        <small class="form-text text-muted mb-3">Posted: {{ question['submission_time'] }}</small>

        <p class="lead">{{ question['message'] | safe }}</p>

        {% if question['image'] %}
            <div class="mb-3">
                <p>Attached image for question:</p>
                <img src="{{ url_for('static', filename='uploads/images') }}/{{ question['image'] }}" alt="Attached image" onerror="">
            </div>
        {% endif %}
        <a class="btn btn-warning" href="/question/{{ question['id'] }}/edit">Edit question</a>
        <a class="btn btn-primary" href="/question/{{ question['id'] }}/new-comment">Add comment</a>
        <a class="btn btn-danger f-right" href="/question/{{ question['id'] }}/delete">Delete question</a>

        <div class="container mt-5 mb-5">
            {% for comment in question['comments'] %}
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 border-top border-bottom p-1">
                        <span>
                            {{ comment['message'] }}
                            <small class="text-muted">- {{ comment['submission_time'] }} {% if comment['edited_count'] %} edited {{ comment['edited_count'] }} time(s) {% endif %} </small>
                            <a class="text-danger comment_delete" href="/comments/{{ comment['id'] }}/delete">Delete comment</a>
                            <a class="comment_delete" href="/comments/{{ comment['id'] }}/edit">Edit comment</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="container mt-5">
            {% for answer in current_answers %}
                <div class="row">
                    <div class="col-1">
                        <a href="/answer/{{ answer['id'] }}/vote_up">
                            <img src="/static/img/up.png" alt="Vote up" class="mx-auto d-block">
                        </a>
                        <div class="text-center">{{ answer['vote_number'] }}</div>
                        <a href="/answer/{{ answer['id'] }}/vote_down">
                           <img src="/static/img/down.png" alt="Vote down" class="mx-auto d-block">
                        </a>
                    </div>
                    <div class="col-sm">
                        <p>{{ answer['message'] | safe}}</p>
                        <small class="form-text text-muted mb-3 d-inline-block">Posted: {{ question['submission_time'] }}</small>
                        <a href="/answer/{{ answer['id'] }}/edit" class="text-warning">Edit answer</a>
                        <a href="/answer/{{ answer['id'] }}/new-comment" class="text-primary">Add comment</a>
                        <a href="/answer/{{ answer['id'] }}/delete?question_id={{ question['id'] }}" class="text-danger">Delete answer</a>

                        <div class="container mt-2 mb-2">
                            {% for comment in answer['comments'] %}
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-10 border-top border-bottom p-1">
                                        <span>
                                            {{ comment['message'] }}
                                            <small class="text-muted">- {{ comment['submission_time'] }}</small>
                                            <a id="" class="text-danger comment_delete" href="/comments/{{ comment['id'] }}/delete">Delete comment</a>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if current_answers == [] %}
                <p>There is no answer yet!</p>
                <p>Be the first who solves the problem!</p>
            {% endif %}
        </div>

        <a class="btn btn-primary" href="/question/{{ question['id'] }}/new-answer">Answer</a><br>
        <a class="btn btn-info" href="{{ url_for('show_questions') }}" id="ans-button">Back to Home</a>
    </div>
{% endblock %}
