{% extends 'base.html' %}
{% block title %}
    Ask Mate! | Edit
{% endblock %}
{% block content %}
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <h1>{{ title }}</h1>
        <form action="/question/{{ question_id }}/edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Question Title: </label><br>
                <input class="form-control" type="text" name="title" id="title" required pattern=".{6,}" title="6 characters minimum" value="{{ question_data['title'] }}">
            </div>
            <div class="form-group">
                <label for="message">Question:</label><br>
                <textarea class="form-control" name="message" id="message" cols="40" rows="4" required minlength="10">{{ question_data['message'].replace('<br>', '\n') }}</textarea>
            </div>

            {% if question_data['image'] %}
                <div class="form-group mb-3">
                    Currently attached image:
                    <div class="form-group">
                        <img src="{{ url_for('static', filename='uploads/images') }}/{{ question_data['image'] }}" alt="Attached image" onerror="">
                    </div>
                </div>
            {% endif %}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Image attachment</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="image" class="form-control custom-file-input" id="image-attachment" aria-descri bedby="image-attachment">
                    <label class="custom-file-label" for="image-attachment">Choose file</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Update question</button>
        </form>
        <a class="btn btn-info" href="{{ url_for('show_questions') }}">Back to Home</a>

    </div>
{% endblock %}