{% extends 'base.html' %}

{% block title %}Add comment{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ answer['question']['title'] }}</h1>
        <p class="lead">{{ answer['message'] | safe }}</p>
        {% if answer['question']['image'] %}
            <div class="mb-3">
                <p>Attached image for question:</p>
                <img src="{{ url_for('static', filename='uploads/images') }}/{{ answer['question']['image'] }}" alt="Attached image" onerror="">
            </div>
        {% endif %}
        <form action="{{ url_for('comment_on_answer', answer_id=answer['id'])}}" method="POST" enctype="multipart/form-data" autocomplete="OFF">
            <input type="hidden" name="answer_id" value="{{ answer['id']}}">
            <div class="form-group">
                <label for="message">Your comment</label>
                <textarea name="message" id="message" class="form-control" aria-label="Question"></textarea>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>
        <a class="btn btn-info" href="{{ url_for('show_answers', question_id=answer['question']['id']) }}">Back to the question</a>
        <a class="btn btn-info" href="{{ url_for('show_questions') }}">Back to Main menu</a>
    </div>
{% endblock %}
