h1 {
    font-family: 'Rubik Mono One', sans-serif;
}

a:link {
    text-decoration: none;
    color: blue;

}

a:visited {
    text-decoration: none;
    color: blue;

}

a:hover {
    text-decoration: none;
    color: dodgerblue;
    transition-duration: 0.6s;
}

.jumbotron {
    background-color: white;
}

.f-right {
    float: right;
    padding-bottom: 10px;
}