h1 {
    font-family: 'Rubik Mono One', sans-serif;
}

a:link {
    text-decoration: none;
    color: blue;

}

a:visited {
    text-decoration: none;
    color: blue;

}

a:hover {
    text-decoration: none;
    color: dodgerblue;
    transition-duration: 0.6s;
}

.jumbotron {
    background-color: white;
}

.f-right {
    float: right;
    padding-bottom: 10px;
}

.btn.btn-danger {
    color: white;
    margin-bottom: 20px;
}

.btn.btn-primary {
    color: white;
}

.btn.btn-info {
    color: white;
}
footer{
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 111, 255, 0.64);
    color: white;
    text-align: justify;
    font-family:  'Rubik Mono One', sans-serif;;
}
footer>p{
    margin-bottom: 0;
}
html, body{height: 100%;margin:0}
body{
    display: flex;
    flex-direction: column;
}

.footer_text {
    font-family: sans-serif;
    font-size: 100%;
}

#int {
    padding-right: 70px;
}

#int_1 {
    padding-right: 30px;
}

#v_number {
    padding-top: 35px;
}