{% extends 'base.html' %}
{% block title %}
    Ask Mate! | Answers
{% endblock %}
{% block content %}
    <h1>{{ question_title }}</h1><form action="/question/{{ question_id }}/edit">
    <button type="submit">Edit question</button>
</form>
    <form action="/question/{{ question_id }}/deleteendpoint">
    <button type="submit">Delete question</button>
    </form>
    {% if current_answers != [] %}
        <table>
            <tr>
                <th> Message</th>
                <th> Image</th>
                <th> Vote Number</th>
                <th></th>
            </tr>
                {% for answer in current_answers %}
                    <tr>
                        <td>{{ answer['message'] | safe}}</td>
                        <td>{{ answer['image'] }}</td>
                        <td align="right">
                            <a href="/answer/{{ answer['id'] }}/vote_up">
                                <img src="/static/img/up.png" alt="Vote up">
                            </a><br>
                            {{ answer['vote_number'] }}<br>
                            <a href="/answer/{{ answer['id'] }}/vote_down">
                                <img src="/static/img/down.png" alt="Vote down">
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/answer/{{ answer['id'] }}/delete?question_id={{ question_id }}">Delete answer</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>There is no answer yet!<br> Be the first who solves the problem!</p>
            {% endif %}
    </table>
    <a class="btn btn-primary" href="/question/{{ question_id }}/new-answer">Answer</a>
{% endblock %}
