{% extends 'base.html' %}
{% block title %}
    Ask Mate! | Edit
{% endblock %}
{% block content %}
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <h1>{{ title }}</h1>
        <form action="/question/{{ question_id }}/edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Question Title: </label><br>
                <input class="form-control" type="text" name="title" id="title" required minlength="5" value="{{ question_data['title'] }}">
            </div>
            <div class="form-group"
                <label for="message">Question:</label><br>
                <textarea class="form-control" name="message" id="message" cols="40" rows="4" required>{{ question_data['message']|safe }}</textarea>
            </div>

            <div class="input-group mb-3">
                {% if question_data['image'] %}
                    Currently attached image:
                    <img src="{{ url_for('static', filename='uploads/images') }}/{{ question_data['image'] }}" alt="Attached image" onerror="">
                {% endif %}
                <input class="form-control custom-file-input" type="file" name="image" id="image">
            </div>
            <button type="submit" class="btn btn-primary mb-3">Update question</button>
        </form>
    </div>
{% endblock %}