{% extends 'base.html' %}
{% block title %}
    Ask Mate! | Edit
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
        <form action="/question/{{ question_id }}/edit" method="post">
            <p>
                <label for="title">Question Title: </label><br>
                <input type="text" name="title" id="title" required minlength="5" value="{{ question_data['title'] }}">
            </p>
            <p>
                <label for="message">Message:</label><br>
                <textarea name="message" id="message" cols="40" rows="4" required>{{ question_data['message']|safe }}</textarea>
            </p>
        <button type="submit">Update answer</button>
        </form>
{% endblock %}