{% extends 'base.html' %}
{% block title %}
    Welcome!
{% endblock %}
{% block content %}
    <h1> Ask Mate! </h1>
    <br>
    <a href="{{ url_for('add_question')}}">Ask a question</a>
    <br>
    <table>
        <tr>
            <th> Title</th>
            <th> Message</th>
            <th> Image</th>
            <th> View Number</th>
            <th>Vote</th>
        </tr>
			{% for question in questions %}
				<tr>
                    <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
                    <td>{{ question['message'] | safe}}</td>
                    <td>{{ question['image'] }}</td>
                    <td align="right">{{ question['view_number'] }}</td>
                    <td align="right">
                        <a href="/question/{{ question['id'] }}/vote-up">
                            <img src="/static/img/up.png" alt="">
                        </a><br>
                        {{ question['vote_number'] }}<br>
                        <a href="/question/{{ question['id'] }}/vote-down">
                            <img src="/static/img/down.png" alt="">
                        </a>
                    </td>
				</tr>
        {% endfor %}
    </table>
{% endblock %}